.admonition {
    border-left: none;
    border: 1px solid !important;
    border-radius: 7px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    min-width: 300px;
}

.admonition > .admonition-title {
    margin-left: -16px;
    border-top-left-radius: 5px;
    margin-right: -16px;
    border-top-right-radius: 5px;
    padding: 4px;
}

.admonition > .admonition-title > .lucide {
    vertical-align: text-top;
    margin-right: 5px;
    width: 18px;
    height: auto;
}

.admonition.note {
    background-color: lavender;
}

.admonition.note > .admonition-title {
    background-color: navy;
    color: white;
}

.admonition.question {
    background-color: blanchedalmond;
}

.admonition.question > .admonition-title {
    background-color: peru;
    color: white;
}

.admonition.tip {
    background-color: navy;
}

.admonition.tip > .admonition-title {
    background-color: lavender;
    color: white;
}

.admonition.warning {
    background-color: lemonchiffon;
}

.admonition.warning > .admonition-title {
    background-color: firebrick;
    color: white;
}
